// change m-size in mobile.

@import '../base/settings';

.big-button {
  background-color : $purple;
  color : white;
  border : none;
  border-bottom : .6rem solid darken($purple, 10%); // size, type, color
  font-weight : bold;
  font-size : $m-size;
  width : 100%;
  margin-bottom : $m-size;
  padding : 2.4rem;
}

.big-button:disabled { // for disabled button.
  opacity : .5;
}

// add option button.
.button {
  background : $purple;
  border : none;
  border-top: .3rem solid darken($purple, 10%);
  border-bottom : .3rem solid darken($purple, 10%);
  color : white;
  font-weight : 500;
  padding : $s-size;
  margin : 1rem;
}

// bem

.button--link {
  background : none;
  border : none;
  color : $off-white;
  padding : 0;
}

@media (min-width : $desktop-breakpoint) {
  .big-button {
    font-size : $l-size;
    margin-bottom : $xl-size;
  }
}